<div{{attributes}}>
	{% if label %}
		<h2{{title_attributes}}>{{ label }}</h2>
	{% endif %}
	{% if films %}
		{% for film in films %}
			<strong>Title:</strong>
			{{ film.title }}<br/>
			<strong>Episode:</strong>
			{{ film.episode_id }}<br/>
			<strong>Director:</strong>
			{{ film.director }}<br/>
			<strong>Producer:</strong>
			{{ film.producer }}<br/>
			<strong>Release Date:</strong>
			{{ film.release_date|date("F d, Y") }}<br/>
			<hr>
		{% endfor %}
	{% else %}
		<h4>Sorry no films found.</h4>
	{% endif %}
</div>
